Импортируем все необходимое

In [1]:
import cv2
import random
import pandas as pd
import matplotlib.pyplot as plt

from typing import List

Задание 1 и 2. Создадим DataFrame с двумя колонками. Названия колонок "abs_path" и "classname".

In [2]:
df = pd.read_csv('annotation.csv', delimiter=';', usecols = (1, 3), names = ('abs_path', 'classname'))
print(df)

                                               abs_path  classname
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse
...                                                 ...        ...
2449      D:\Programming\AP_Lab4\dataset\zebra\1211.jpg      zebra
2450      D:\Programming\AP_Lab4\dataset\zebra\1212.jpg      zebra
2451      D:\Programming\AP_Lab4\dataset\zebra\1213.jpg      zebra
2452      D:\Programming\AP_Lab4\dataset\zebra\1214.jpg      zebra
2453      D:\Programming\AP_Lab4\dataset\zebra\1215.jpg      zebra

[2454 rows x 2 columns]

Задание 3. Добавление столбца с метками "0" для класса "bay_horse" и "1" для класса "zebra".

In [3]:
df["class_mark"] = 0
df.loc[df["classname"] == "zebra", "class_mark"] = 1
print(df)

                                               abs_path  classname  class_mark
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse           0
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse           0
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse           0
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse           0
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse           0
...                                                 ...        ...         ...
2449      D:\Programming\AP_Lab4\dataset\zebra\1211.jpg      zebra           1
2450      D:\Programming\AP_Lab4\dataset\zebra\1212.jpg      zebra           1
2451      D:\Programming\AP_Lab4\dataset\zebra\1213.jpg      zebra           1
2452      D:\Programming\AP_Lab4\dataset\zebra\1214.jpg      zebra           1
2453      D:\Programming\AP_Lab4\dataset\zebra\1215.jpg      zebra           1

[2454 rows x 3 columns]

Задание 4. Добавление трех столбцов "height", "width" и "depth".

In [4]:
height_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      height_i.append(img.shape[0])
    else:
      print(df["abs_path"].iloc[i])

df["height"] = height_i
print(df)

                                               abs_path  classname  \
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse
...                                                 ...        ...
2449      D:\Programming\AP_Lab4\dataset\zebra\1211.jpg      zebra
2450      D:\Programming\AP_Lab4\dataset\zebra\1212.jpg      zebra
2451      D:\Programming\AP_Lab4\dataset\zebra\1213.jpg      zebra
2452      D:\Programming\AP_Lab4\dataset\zebra\1214.jpg      zebra
2453      D:\Programming\AP_Lab4\dataset\zebra\1215.jpg      zebra

      class_mark  height
0              0     320
1              0     320
2              0     320
3              0     320
4              0     320
...          ...     ...
2449           1     320
2450           1     320
2451           1     320
2452           1     320
2453           1     270

[2454 rows x 4 columns]

In [5]:
width_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      width_i.append(img.shape[1])
    else:
      print(df["abs_path"].iloc[i])

df["width"] = width_i
print(df)

                                               abs_path  classname  \
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse
...                                                 ...        ...
2449      D:\Programming\AP_Lab4\dataset\zebra\1211.jpg      zebra
2450      D:\Programming\AP_Lab4\dataset\zebra\1212.jpg      zebra
2451      D:\Programming\AP_Lab4\dataset\zebra\1213.jpg      zebra
2452      D:\Programming\AP_Lab4\dataset\zebra\1214.jpg      zebra
2453      D:\Programming\AP_Lab4\dataset\zebra\1215.jpg      zebra

      class_mark  height  width
0              0     320    448
1              0     320    448
2              0     320    400
3              0     320    475
4              0     320    399
...          ...     ...    ...
2449           1     320    320
2450           1     320    297
2451           1     320    219
2452           1     320    480
2453           1     270    480

[2454 rows x 5 columns]

In [6]:
depth_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      depth_i.append(img.shape[2])
    else:
      print(df["abs_path"].iloc[i])

df["depth"] = depth_i
print(df)

                                               abs_path  classname  \
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse
...                                                 ...        ...
2449      D:\Programming\AP_Lab4\dataset\zebra\1211.jpg      zebra
2450      D:\Programming\AP_Lab4\dataset\zebra\1212.jpg      zebra
2451      D:\Programming\AP_Lab4\dataset\zebra\1213.jpg      zebra
2452      D:\Programming\AP_Lab4\dataset\zebra\1214.jpg      zebra
2453      D:\Programming\AP_Lab4\dataset\zebra\1215.jpg      zebra

      class_mark  height  width  depth
0              0     320    448      3
1              0     320    448      3
2              0     320    400      3
3              0     320    475      3
4              0     320    399      3
...          ...     ...    ...    ...
2449           1     320    320      3
2450           1     320    297      3
2451           1     320    219      3
2452           1     320    480      3
2453           1     270    480      3

[2454 rows x 6 columns]

Задание 5. Статистика по колонках "class_mark", "height", "width" и "depth".

In [7]:
mark_stats = df['class_mark'].describe() 
print(mark_stats)

count    2454.000000
mean        0.495518
std         0.500082
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: class_mark, dtype: float64

In [8]:
height_stats = df['height'].describe() 
print(height_stats)

count    2454.000000
mean      314.344336
std        17.712061
min        95.000000
25%       320.000000
50%       320.000000
75%       320.000000
max       488.000000
Name: height, dtype: float64

In [9]:
width_stats = df['width'].describe() 
print(width_stats)

count    2454.000000
mean      415.402200
std        83.093482
min       160.000000
25%       388.000000
50%       448.000000
75%       480.000000
max       640.000000
Name: width, dtype: float64

In [10]:
depth_stats = df['depth'].describe() 
print(depth_stats)

count    2454.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: depth, dtype: float64

Задание 6.

In [11]:
def filter_dataframe(df: pd.DataFrame, label: int) -> pd.DataFrame:
    """
    Функция на вход принимает DataFrame и метку класса, а возвращает отфильтрованный по метке DataFrame
    """
    new= pd.DataFrame = df[df.class_mark == label]
    return new

print(filter_dataframe(df, 0))

                                               abs_path  classname  \
0     D:\Programming\AP_Lab4\dataset\bay_horse\0000.jpg  bay_horse
1     D:\Programming\AP_Lab4\dataset\bay_horse\0001.jpg  bay_horse
2     D:\Programming\AP_Lab4\dataset\bay_horse\0002.jpg  bay_horse
3     D:\Programming\AP_Lab4\dataset\bay_horse\0003.jpg  bay_horse
4     D:\Programming\AP_Lab4\dataset\bay_horse\0004.jpg  bay_horse
...                                                 ...        ...
1233  D:\Programming\AP_Lab4\dataset\bay_horse\1233.jpg  bay_horse
1234  D:\Programming\AP_Lab4\dataset\bay_horse\1234.jpg  bay_horse
1235  D:\Programming\AP_Lab4\dataset\bay_horse\1235.jpg  bay_horse
1236  D:\Programming\AP_Lab4\dataset\bay_horse\1236.jpg  bay_horse
1237  D:\Programming\AP_Lab4\dataset\bay_horse\1237.jpg  bay_horse

      class_mark  height  width  depth
0              0     320    448      3
1              0     320    448      3
2              0     320    400      3
3              0     320    475      3
4              0     320    399      3
...          ...     ...    ...    ...
1233           0     320    427      3
1234           0     320    452      3
1235           0     320    393      3
1236           0     320    381      3
1237           0     320    207      3

[1238 rows x 6 columns]

Задание 7.

In [12]:
def specified_filter(label: int, max_width: int, max_height: int, df: pd.DataFrame) -> pd.DataFrame:
    """
    Функция принимает метку класса, max_height и max_width, а возвращает отфильтрованный по заданным параметрам DataFrame
    """
    new = df[(df.class_mark == label) & (df.width <= max_width) & (df.height <= max_height)]
    return new

print(specified_filter(1, 1000, 1000, df))

                                           abs_path classname  class_mark  \
1238  D:\Programming\AP_Lab4\dataset\zebra\0000.jpg     zebra           1
1239  D:\Programming\AP_Lab4\dataset\zebra\0001.jpg     zebra           1
1240  D:\Programming\AP_Lab4\dataset\zebra\0002.jpg     zebra           1
1241  D:\Programming\AP_Lab4\dataset\zebra\0003.jpg     zebra           1
1242  D:\Programming\AP_Lab4\dataset\zebra\0004.jpg     zebra           1
...                                             ...       ...         ...
2449  D:\Programming\AP_Lab4\dataset\zebra\1211.jpg     zebra           1
2450  D:\Programming\AP_Lab4\dataset\zebra\1212.jpg     zebra           1
2451  D:\Programming\AP_Lab4\dataset\zebra\1213.jpg     zebra           1
2452  D:\Programming\AP_Lab4\dataset\zebra\1214.jpg     zebra           1
2453  D:\Programming\AP_Lab4\dataset\zebra\1215.jpg     zebra           1

      height  width  depth
1238     320    427      3
1239     320    480      3
1240     320    480      3
1241     320    480      3
1242     316    480      3
...      ...    ...    ...
2449     320    320      3
2450     320    297      3
2451     320    219      3
2452     320    480      3
2453     270    480      3

[1216 rows x 6 columns]

Задание 8. Группировка DataFrame по метке класса с вычислением максимального, минимального и среднего значения по количеству пикселей.

In [14]:
df["count_pixel"] = df.height * df.width
result= pd.DataFrame = df.groupby("class_mark").agg({"count_pixel": ['mean', 'min', 'max']}) 
print(result)

              count_pixel
                     mean    min     max
class_mark
0           129049.321486  45600  272640
1           131533.421053  51200  153600